Source: dotnet
Maintainer: Microsoft <optimus@service.microsoft.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>=9)

Package: dotnet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clang-3.5, automake, libtool, curl, libuv-dev, unzip, libunwind8, libssl-dev, lldb-3.6, libcurl4-openssl-dev
Description: dotnet aptitude package

