<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="local1" value="d:\git\cli\TestAssets\TestProjects\TestBindingsRedirectsGeneration2\TestLibrary\TestLibrary\bin" />
	<add key="local2" value="d:\git\cli\TestAssets\TestProjects\TestBindingsRedirectsGeneration2\ReferencedLibrary\bin" />
  </packageSources>
</configuration>
